/* import tablet */
@import url("./tablet.css");
/* import mobile */
@import url("./mobile.css");
/* Desktop */
/* __________________________________________________ */
                     /* generals */
:root {
    --main-color: #F2F2F2; /* var(--main-color) */
    --second-color: #0065FC; /* var(--second-color) */
    --hover-btn-color: #DEEBFF; /* var(--hover-btn-color) */
    --border-color: #D9D9D9; /* var(--border-color) */
    --white-color: #FFFFFF; /* var(--white-color) */
    --black-color: #000000; /* var(--black-color) */
}
                                         
body{
font-family: Raleway, sans-serif ;
font-style: normal; 
max-width: 1440px;
margin: auto;
}
body> *{
    margin: 40px 40px 0 40px;
    
    }

/* _________________________________________________ */
     /* icons font-awesome (filter and stars) : */
.icon{
 color: var(--second-color);
 font-size: 12px;
 margin-right: 10px;
}
.grey-star-icon{
    color: var(--border-color);
}

/* ________________________________________________ */
                       /* nav */
header{
    display: flex;
    justify-content: space-between;
}

.nav-menu{
    list-style-type: none;
    display: flex;
}

.nav-menu a{
    color: var(--black-color);
    text-decoration: none;
}

.nav-menu a:hover{
    color: var(--second-color);
    border-top: 3px solid var(--second-color);
    padding-top: 20px;
}

.logo-Booki{
    width: 61px;
    object-fit: contain;
}

.nav-hosting{
    padding: 0 15px;
    margin-right: 15px;
}
.nav-activity{
    padding: 0px 25px;
}

/* _____________________________________________ */
                    /* title */
.main-title{
    margin-top: 50px;
    font-size: 22px;
}

/* _____________________________________________ */
                    /* Form searchBar */


  /* container */
.form-search-container{
    display: flex;
    width: 418px;
    height: 49px;
}

/* box decoration icon map */
.search-bar-decoration{
    background:var(--main-color);
    border: 1px solid var(--border-color);       
    border-radius: 15px 0 0 15px;
    width: 50px;
    height: 47px;
    text-align: center;
}

.icon-location{
    font-size: 18px;
    padding-top: 15px;
}

/* searchBar */
.input-search-bar{
    border: 1px solid var(--border-color);
    width: 260px;
    font-size: 18px;
    font-weight: bold;
}
.input-search-bar:hover{
    border: 1px solid var(--border-color);

}
/* #ville::placeholder{
    color: black;
} */

/* btn submit */
.btn-search-bar{
    background: var(--second-color);
    border-radius: 0px 15px 15px 0px;
    border: 1px solid var(--second-color);
    color: var(--white-color);
    width: 132px;
    cursor: pointer;
}

/* btn icon off */
.btn-icon-search-bar{
    display: none;
}


/* _____________________________________________ */
                    /* Filters */

.section-filter> h3{
    margin-right: 5px;
}

.filter-container{
    font-weight: bold;
    display: flex;
    margin-top: 30px;
    width: 70%;
}

.filter-container .icon{
    font-size: 22px;
    width: 20%;
    align-self: center;
    margin-left: 10px;
}
.filter>p{
    white-space: nowrap;
    padding-right: 10px;
}

.filter{
    border: 2px solid var(--border-color);
    border-radius: 25px;
    width: 60%;
    height: 48px;
    padding: 0;
    margin: 5px;
    display: flex;
    align-items: center;
    font-size: 17px;
}
.filter:hover{
    background-color: var(--hover-btn-color);
    cursor: pointer;
}

/* _______________________________________________ */
                    /* info */
.info-container{    
    display: flex;
    align-items: center;
    width: 100%;
    height: 25%;
}

.circle-info{
    width: 24px;
    height: 24px;
    border-radius: 24px;
    border: 1px solid var(--border-color);
    margin-right: 5px;    
}

.circle-info> .icon{
    padding-left: 10px;
}

/* _________________________________________________ */
                    /* main container*/

/* Accommodations + populars containers*/

.all-accommodation-container{
    display: flex;
    justify-content: space-around;    
}

/* __________________________________________________ */
/* sections accommodations + populars containers */

.section-accommodation-container{
    background-color: var(--main-color);
    border-radius: 20px;
    width: 880px;
    min-height: 626px;
    padding: 5px;
    margin-right: 20px;
    flex-wrap: wrap;
}

.populars-accommodation{
    background-color: var(--main-color);
    border-radius: 20px;
    width: 420px;
    min-height: 625px;
    padding: 5px;
    margin-left: 20px;
}

/* ____________________________________________________ */
            /* Section card Accommodation */
                     
.cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: auto;
}

.title-accommodation{
    margin-bottom: 0;
    margin-left: 23px;
    font-size: 22px;
}

.section-link-showMore{    
    font-size: 18px;
    font-weight: bold;
    margin-left: 25px;
    margin-top: 50px;      
}

.section-link-showMore> a{
    text-decoration: none;
    color: var(--black-color); 
}

.section-link-showMore> a:hover{
    color: var(--second-color);
}

.article-accommodation-container-col{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: var(--white-color);
    box-shadow: 3px 3px 5px 2px var(--border-color);
    border-radius: 20px;   
    width: 246px;
    min-width: 20%; 
    margin: 30px 10px 0 10px;
    padding: 4px;
}

.article-accommodation-container-col> img{
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    height: 124px;
    width: 100%;
}

.link-card{
    text-decoration: none;
    color: var(--black-color);
    display: flex;
    width: 33%;
}

.text-disposition-card{
    margin: 0;
    margin-left: 20px;
    text-decoration: none;
    color: var(--black-color);
    padding-top: 3px;
}

.name-card {
    font-size: 16px;
}

.price-card {
    font-size: 14px;
    margin-top: 5px;
}

.stars{
    display: flex;
    padding: 4px;
    margin-left: 17px;
}

.star-card{
    margin-right: 0;
    margin-top: 5px;
}

/* ___________________________________________________*/
                /* section most popular */                
   
.accommodation-populars-title{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
} 

.accommodation-populars-title> i{
    font-size: 18px;
}

.article-card-container-row{
    display: flex;
    flex-direction: row;
    background: var(--white-color);
    border-radius: 20px;
    box-shadow: 3px 3px 5px 2px var(--border-color);
    margin: 0 30px 30px 30px;
    padding: 4px;
}

.article-card-container-row> img{
    border-radius: 20px 0 0 20px;
    object-fit: cover;
    height: 144px;
    width: 40%;
}

.column-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 5px;
}
.name-card{
    font-size: 13px;
}

.star-icon i{
    margin-top: 30px;
}
.link-accommodation-populars{
    text-decoration: none;
    color: var(--black-color);
}

/* ________________________________________________________ */
/* other activity */


.aside-container{
    margin-top: 40px;
}

.other-activity{
    display: flex;
    align-items: center;
    font-weight: bold;
    justify-content: space-between;
    margin: 0;
    width: 100%;


}

aside>h2{
    font-size: 21px;
}

.figure-card{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 3px 3px 5px 2px var(--border-color);
    height: 450px;
    margin-left: 0;
    margin-right: 0;
    margin: 5px;
    width: 280px;
    height: 444px;
}

.other-activity img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.figure-card figcaption{
    margin: 2px 0 0 10px;
    font-size: 16px;
    font-weight: bold;
}
.link-card-other{
    width: 100%;
    text-decoration: none;
    color: var(--black-color); 
}
/* _________________________________________________________ */
/* footer */

footer{
    background-color: var(--main-color);
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    padding-right: 25%;

} 

.footer-column-items{
    display: flex;
    flex-direction: column;
    list-style-type: none;
} 
.footer-column-items>li{
    margin-top: 10px;
}
.footer-column-items a{
    text-decoration: none;
    color: var(--black-color);
}
.footer-column-items a:hover{
    color: var(--second-color);
}
